node_modules

# All compiled JS files.
**/*.js
**/*.js.map

# Do not ignore configuraiton files.
!webpack.config.js
!karma.config.js

# Ignore all bundled files.
app/dist

# Visual Studio ignore.
.vs
app/Archive.zip

.DS_Store